
#contact{
    display: flex;
    gap: 50px;
}

#email{
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#email input, #email textarea{
    padding: 5px 10px;
    font-size: 20px;
    font-family: "roboto light";
    border: 1px solid #2f2724;
}

#contact_links{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.ctc_link{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.ctc_link p{
    margin: 0 0 7.5px;
}
.ctc_link:hover{
    color: #2f2724;
}


/*big desktop styling*/
@media(min-width:1351px){
    
}


/*bigger tablet styling*/
@media(max-width:1079px){
    #contact{
        flex-direction: column;
    }

    #email{
        width: 100%;
    }

    #contact_links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 100px;
    }
    .ctc_link{
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }
    .ctc_link p{
        margin: 0 0 7.5px;
    }
    .ctc_link:hover{
        color: #2f2724;
    }    
}