/*general - start*/
body{
    margin: 0;
}
main{
    min-height: 100vh;
}
/*general - end*/


/*fonts - start*/
@font-face {
    font-family: "poppins regular";
    src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "poppins bold";
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "poppins light";
    src: url(fonts/Poppins-Light.ttf);
}
h1, h2, h3, h4, h5{
    font-weight: normal;
    font-family: "poppins bold";
    margin-top: 0;
}
h1{
    font-size: 60px;
    margin-bottom: 20px;
    line-height: 65px;
}
h2{
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 45px;
}
h3{
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 35px;
}
h4{
    font-size: 25px;
    margin-bottom: 5px;
}
h5{
    font-size: 20px;
    margin-bottom: 5px;
}
*{
    font-size: 20px;
    font-family: "poppins regular";
}
.section_title, .page_title{
    font-family: "poppins light";
    opacity: 0.75;
}
.page_title{
    margin: 0;
}
/*fonts - end*/


/*cta - start*/
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: fit-content;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(2px);
}
.cta.white{
    border-color: white;
    color: white;
}
.cta.white:hover{
    color: rgb(28, 28, 32);
}
.cta.black{
    border-color: rgb(28, 28, 32);
    color: rgb(28, 28, 32);
}
.cta.black:hover{
    color: white;
}
.cta::before{
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    transition: 0.5s;
}
.cta.white::before{
    background-color: white;
}
.cta.black::before{
    background-color: rgb(28, 28, 32);
}
.cta:hover::before{
    width: 100%;
}
.cta p, .cta h1, .cta h2, .cta h3, .cta h4, .cta h5{
    margin: 0;
    z-index: 1;
    transition: 0.5s;
}
/*cta - end*/


/*sections - start*/
.sided{
    padding-left: 5vw;
    padding-right: 5vw;
}
.topped{
    padding-top: 100px;
}
.double_topped{
    padding-top: 200px;
}
.half_topped{
    padding-top: 50px;
}
.bottomed{
    padding-bottom: 100px;
}
.double_bottomed{
    padding-bottom: 200px;
}
.dark{
    background-color: rgb(28,28,32);
    color: white;
}
/*sections - end*/


/*invite section - start*/
#invite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/invite_section/invite_section_desktop.webp);
    background-size: cover;
    background-position-x: left;
    text-align: center;
}
#invite h2, #invite h1{
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#invite .cta{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#invite:hover .cta{
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}
/*invite section - end*/


/*project holder - start*/
.project_holder{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 25px;
}
.project{
    width: calc(50% - 25px);
    height: fit-content;
}
.project img{
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(28,28,32);
}
.project h3{
    margin: 0;
}
/*project holder - end*/


/*staff section - start*/
.team_member{
    height: 430px;
    width: calc(430px * (4/5));
    aspect-ratio: 4/5;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.team_member img{
    height: 430px;
    width: calc(430px * (4/5));
    aspect-ratio: 4/5;
    background-color: red;
}
.team_member h1{
    width: calc(100% * (5/4));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 45px;
    rotate: 90deg;
    left: -54%;
    margin: 0;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*staff section - end*/


/*bigger tablet styling*/
@media(max-width:1079px){ 
}

/*big tablet styling*/
@media(max-width:850px){
    /*invite section - start*/
    #invite{
        background: url(images/invite_section/invite_section_tablet.webp);
    }
    /*invite section - end*/ 
}

/*regular tablet styling*/
@media(max-width:775px){   
    /*project holder - start*/
    .project{
        width: 100%;
    }
    /*project holder - end*/  
}

/*small tablet styling*/
@media(max-width:625px){
}

/*big phone styling*/
@media(max-width:450px){
    /*sections - start*/
    .topped{
        padding-top: 75px;
    }
    .double_topped{
        padding-top: 150px;
    }
    .half_topped{
        padding-top: calc(75px/2);
    }
    .bottomed{
        padding-bottom: 75px;
    }
    .double_bottomed{
        padding-bottom: 150px;
    }
    /*sections - end*/

    
    /*invite section - start*/
    #invite{
        background: url(images/invite_section/invite_section_mobile.webp);
    }
    /*invite section - end*/ 

    
    /*staff section - start*/
    .team_member{
        height: 350px;
        width: calc(350px * (4/5));
    }
    .team_member img{
        height: 350px;
        width: calc(350px * (4/5));
    }
    /*staff section - end*/
}

/*regular phone styling*/
@media(max-width:400px){
    /*fonts - start*/
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 37.5px;
    }
    h3{
        font-size: 27.5px;
    }
    /*fonts - end*/
}

/*small phone styling*/
@media(max-width:380px){
    /*fonts - start*/
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    }
    /*fonts - end*/


    /*sections - start*/
    .topped{
        padding-top: 60px;
    }
    .double_topped{
        padding-top: 120px;
    }
    .half_topped{
        padding-top: 30px;
    }
    .bottomed{
        padding-bottom: 60px;
    }
    .double_bottomed{
        padding-bottom: 120px;
    }
    /*sections - end*/
}

/*narrow phone styling*/
@media(max-width:350px){
}