/*fonts - start*/
@font-face {
    font-family: "poppins bold";
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: "lato regular";
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "roboto regular";
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto light";
    src: url(fonts/Roboto-Light.ttf);
}

h1, h2, h3, h4, h5{
    font-family: "poppins bold";
    margin-top: 0;
    color: #2f2724;
}
h1{
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 25px;
}
h2{
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 20px;
}
h3{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}
h4{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 10px;
}
h5{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
}
p{
    font-family: "roboto light";
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
}
.page_title{
    -webkit-text-stroke: #2f2724 2px;
    color: transparent;
}
/*fonts - end*/


/*sections - start*/
.sided{
    padding-left: 5vw;
    padding-right: 5vw;
}
.topped{
    padding-top: 100px;
}
.bottomed{
    padding-bottom: 100px;
}
.half_bottomed{
    padding-bottom: 50px;
}
.double_bottomed{
    padding-bottom: 200px;
}
.dark{
    background-color: #2f2724;
    color: white;
}
/*sections - start*/


/*cta hollow - start*/
.cta{
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    display: flex;
    width: fit-content;
    text-decoration: none;
    padding: 7.5px 20px;
    position: relative;
}
.cta::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    transition: 0.5s;
}
.cta:hover::after{
    width: 100%;
}
.cta.black::after{
    background-color: #2f2724;
}
.cta.black{
    border-color: #2f2724;
    color: #2f2724;
}
.cta.white::after{
    background-color: white;
}
.cta.white{
    border-color: white;
    color: white;
}
.cta p{
    margin: 0;
    position: relative;
    z-index: 2;
    transition: 0.5s;
}
.cta.black:hover p{
    color: white;
}
.cta.white:hover p{
    color: #2f2724;
}
/*cta hollow - end*/


/*general - start*/
body{
    margin: 0;
}
main{
    min-height: 100vh;
}
/*general - end*/


/*invite section - start*/
#invite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position-x: left;
    text-align: center;
    background: url(images/section-invite/invite_section_desktop.webp);
    color: white;
    filter: grayscale(50%);
}
#invite h4{
    font-family: "roboto light";
}
#invite h2, #invite h4{
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
/*invite section - end*/


/*team member - start*/
.team_members{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.team_member{
    border: 0;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: calc((100%/3) - (100px/3));
}
.team_member img{
    width: 100%;
    aspect-ratio: 4/5;
    background-color: #2f2724;
}
.team_member h3{
    text-align: center;
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 2px white;
    margin: -50px 0 0;
}
.team_member p{
    width: 100%;
    text-align: center;
    margin: 0;
}
/*team member - end*/


/*linear sections - start*/
.linear{
    display: flex;
    gap: 50px;
}
.linear.reversed{
    flex-direction: row-reverse;
}
.lr_title, .lr_txt{
    max-width: calc(50% - 25px);
}
.lr_txt{
    text-align: justify;
    text-align-last: left;
}
/*linear sections - end*/


/*portfolio - start*/
.project_holder{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.project{
    width: calc(50% - 25px);
}
.project img{
    width: 100%;
    aspect-ratio: 5/4;
    background-color: #2f2724;
    margin-bottom: 10px;
}
.project p{
    margin: 0;
}
/*portfolio - end*/


/*big desktop styling*/
@media(min-width:1401px){
    /*sections - start*/
    .sided{
        padding-left: calc((100vw - 1400px)/2);
        padding-right: calc((100vw - 1400px)/2);
    }
    /*sections - start*/
}


/*bigger tablet styling*/
@media(max-width:1079px){
    /*staff section - start*/
    .team_member{
        width: calc(50% - 25px);
    }
    /*staff section - end*/
}


/*big tablet styling*/
@media(max-width:850px){
    /*linear sections - start*/
    .linear{
        flex-direction: column;
        gap: 25px;
    }
    .lr_title, .lr_txt{
        max-width: 100%;
    }
    /*linear sections - end*/ 


    /*portfolio - start*/
    .project{
        width: 100%;
    }
    /*portfolio - end*/


    /*invite section - start*/
    #invite{
        background: url(images/section-invite/invite_section_tablet.webp);
    }
    /*invite section - end*/    
}


/*big phone styling*/
@media(max-width:450px){
    /*fonts - start*/ 
    h1{
        font-size: 55px;
        line-height: 65px;
    }
    h2{
        font-size: 45px;
        line-height: 55px;
    }
    h3{
        font-size: 35px;
        line-height: 50px;
    }
    /*fonts - end*/

    
    /*invite section - start*/
    #invite{
        background: url(images/section-invite/invite_section_mobile.webp);
    }
    /*invite section - end*/ 

    
    /*staff section - start*/
    .team_member{
        width: 100%;
    }
    /*staff section - end*/
}