
/*hero section - start*/
#hero{
    display: flex;
    flex-direction: column;
}
#hero_img{
    margin-bottom: 50px;
}
#hero_img img{
    width: 100%;
}
/*hero section - end*/
    
    
/*portfolio section - start*/
#portfolio .project_holder{
    margin-bottom: 25px;
}
/*portfolio section - end*/
    
    
/*value proposition - start*/
#vp_grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.vp_cell{
     width: calc((100%/3) - (100px/3));
}
.vp_cell p{
    text-align: justify;
    text-align-last: left;
}
/*value proposition - end*/
    
    
/*testimonials section - start*/
#testimonials{
    padding-left: 5vw;
    display: flex;
    gap: 50px;
    position: relative;
}
    
#testimonials h2{
    min-width: calc(40% - 25px);
}
    
#comments_slider{
    width: 100%;
    overflow-x: hidden;
}
#comments{
    display: flex;
    gap: 50px;
    width: fit-content;
}
.comment{
    background-color: rgba(47, 39, 36, 0.125);
    padding: 25px;
    width: 500px;
}
.cmt_author{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.cmt_author img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #2f2724;
}
.cmt_author h5{
    margin: 0;
}
.comment p{
    text-align: justify;
    text-align-last: left;
    margin: 0;
}
    
#cmts_nav{
        display: flex;
        gap: 15px;
}
#cmts_nav button{
        background-color: transparent;
        border: none;
        font-size: 50px;
}
/*testimonials section - end*/


/*big desktop styling*/
@media(min-width:1401px){
    #testimonials{
        padding-left: calc((100vw - 1400px)/2);
    }
}


/*bigger tablet styling*/
@media(max-width:1079px){
    /*value proposition - start*/
    .vp_cell:nth-child(1), .vp_cell:nth-child(2){
        width: calc(50% - 25px);
    }
    .vp_cell:nth-child(3){
        width: 100%;
    }
    /*value proposition - end*/


    /*testimonials section - start*/
    #testimonials{
        flex-direction: column;
        gap: 25px;
    }
    /*testimonials section - end*/
}


/*big tablet styling*/
@media(max-width:850px){
}


/*small tablet styling*/
@media(max-width:625px){
    /*value proposition - start*/
    #vp_grid{
        gap: 25px;
    }
    .vp_cell:nth-child(1), .vp_cell:nth-child(2), .vp_cell:nth-child(3){
        width: 100%;
    }
    /*value proposition - end*/


    /*testimonials section - start*/
    #testimonials{
        flex-direction: column;
        gap: 25px;
    }
    .comment{
        background-color: rgba(47, 39, 36, 0.125);
        padding: 25px;
        width: 350px;
    }
    /*testimonials section - end*/
}


/*big phone styling*/
@media(max-width:450px){    
    /*testimonials section - start*/
    .comment{
        width: calc(90vw - 50px);
    }
    /*testimonials section - end*/
}