/*hero section - start*/
#hero{
    display: flex;
    flex-direction: column;
}
#hero_img{
    margin-bottom: 50px;
    position: relative;
}
#hero_img_logo{
    position: absolute;
    height: 112.5px;
    left: 25px;
    bottom: 50px;
    filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.125));
}
.hero_img{
    display: none;
}
.hero_img img{
    width: 100%;
    border-radius: 10px;
}
/*hero section - end*/


/*services section - start*/
#service_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.srv_card{
    width: calc((100%/3) - (100px/3));
    aspect-ratio: 4/5;
    background-color: #2f2724;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.srv_card img{
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}
.srv_card:hover img{
    opacity: 0;
}
.srv_card_txt{
    position: absolute;
    bottom: 0;
    margin: 25px;
    width: calc(100% - 50px);
    min-height: 25px;
    z-index: 2;
    overflow-y: hidden;
    transition: 0.5s;
}
.srv_card_txt h2{
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
}
.srv_card_txt h2, .srv_card_txt p{
    color: white;
}
.srv_card_txt p{
    text-align: justify;
    text-align-last: left;
}
/*services section - end*/
    
    
/*portfolio section - start*/
#portfolio .project_holder{
    margin-bottom: 25px;
}
/*portfolio section - end*/
    
    
/*testimonials section - start*/
#testimonials{
    padding-left: 5vw;
    display: flex;
    gap: 50px;
    position: relative;
}
    
#testimonials h2{
    min-width: calc(40% - 25px);
}
    
#comments_slider{
    width: 100%;
    overflow-x: hidden;
}
#comments{
    display: flex;
    gap: 50px;
    width: fit-content;
}
.comment{
    background-color: rgba(47, 39, 36, 0.125);
    padding: 25px;
    width: 475px;
    border-radius: 5px;
}
.cmt_author{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.cmt_author img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #2f2724;
}
.cmt_author h5{
    margin: 0;
}
.comment p{
    text-align: justify;
    text-align-last: left;
    margin: 0;
}
    
#cmts_nav{
        display: flex;
        gap: 15px;
}
#cmts_nav button{
        background-color: transparent;
        border: none;
        font-size: 50px;
}
/*testimonials section - end*/


/*big desktop styling*/
@media(min-width:1376px){
    #testimonials{
        padding-left: calc((100vw - 1375px)/2);
    }
}


/*bigger tablet styling*/
@media(max-width:1079px){
    /*hero section - start*/
    #hero_img_logo{
        height: 100px;
        bottom: 25px;
    }
    #hero_img{
        margin-bottom: 25px;
    }
    #hero h1{
        margin: 0;
    }
    /*hero section - end*/


    /*services section - start*/
    .srv_card{
        width: calc(50% - 25px);
    }
    /*services section - end*/

    
    /*testimonials section - start*/
    #testimonials{
        flex-direction: column;
        gap: 25px;
    }
    #testimonials h2{
        min-width: auto;
        padding-right: 5vw;
        margin-bottom: 0;
    }
    /*testimonials section - end*/
}


/*big tablet styling*/
@media(max-width:850px){
}


/*small tablet styling*/
@media(max-width:625px){
    /*hero section - start*/
    #hero_img_logo{
        height: 75px;
    }
    /*hero section - end*/


    /*testimonials section - start*/
    #testimonials{
        flex-direction: column;
        gap: 25px;
    }
    .comment{
        background-color: rgba(47, 39, 36, 0.125);
        padding: 25px;
        width: 350px;
    }
    /*testimonials section - end*/
}


/*big phone styling*/
@media(max-width:450px){    
    /*hero section - start*/
    #hero_img_logo{
        height: 50px;
    }
    /*hero section - end*/


    /*services section - start*/
    .srv_card{
        width: 100%;
    }
    /*services section - end*/


    /*testimonials section - start*/
    .comment{
        width: calc(90vw - 50px);
    }
    /*testimonials section - end*/
}