#login{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 10px;
}
#login h3{
    text-align: center;
}
#login form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#login form input{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 25px;
    width: 400px;
}


/*big phone styling*/
@media(max-width:450px){
    #login form input{
        width: calc(90vw - 20px - 50px);
    }
}