/*desktop nav - start*/
#desktop_nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 5vw;
    background-color: white;
    transition: transform 0.5s;
    z-index: 100;
}
#desktop_nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#desktop_nav img{
    height: 40px;
}
.dsk_nav_link{
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    display: flex;
}
.dsk_nav_link::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.5s;
    background-color: #2f2724;
}
.dsk_nav_link:hover::after, .dsk_nav_link.current::after{
    width: 100%;
}
#desktop_nav p{
    margin: 0;
    color: black;
    font-size: 25px;
    position: relative;
    z-index: 101;
    transition: 0.5s;
}
/*desktop nav - end*/


/*mobile nav - start*/
#mobile_nav_header{display: none;}
#mobile_nav{display: none;}
/*mobile nav - start*/


/*footer - start*/
footer{
    padding: 5vw;
    background-color: #2f2724;
    color: white;
}
footer h4, footer h5{
    color: white;
}

#footer_top{
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 50px;
    margin-bottom: 100px;
}
.ft_t_cell_column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.ft_t_cell h5{
    opacity: 0.75;
}

.ft_link{
    text-decoration: none;
}
.ft_link p{
    margin: 0;
    color: white;
    margin-bottom: 10px;
}
.ft_link:last-child p{
    margin: 0;
}
.ft_link.current{
    font-weight: bold;
}

.ft_t_cell a{
    text-decoration: none;
}
.ft_t_cell p{
    margin-bottom: 10px;
    color: white;
}

#footer_logo{
    max-width: 100%;
}
#footer_copy{
    margin: 15px 0 0;
    font-size: 20px;
}
/*footer - end*/


/*big desktop styling*/
@media(min-width:1376px){
    /*desktop nav - start*/
    #desktop_nav{
        padding: 20px calc((100vw - 1400px)/2);
    }
    /*desktop nav - end*/
    
    /*footer - start*/
    footer{
        padding: 5vw calc((100vw - 1400px)/2);
        background-color: #2f2724;
        color: white;
    }
    /*footer - end*/
}


/*small tablet styling*/
@media(max-width:625px){
    /*desktop nav - start*/
    #desktop_nav p{
        font-size: 23px;
    }
    /*desktop nav - end*/    
}


/*big phone styling*/
@media(max-width:450px){
    /*desktop nav - start*/
    #desktop_nav{display: none;}
    /*desktop nav - end*/


    /*mobile nav header - start*/
    #mobile_nav_header{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        padding: 15px 5vw;
        background-color: white;
        transition: background 0.5s;
        z-index: 100;
    }
    #mobile_nav_header.on{
        background-color: transparent;
    }

    .mnav_logo{
        position: absolute;
    }
    .mnav_logo img{
        height: 40px;
        transition: 0.5s;
    }
    #mobile_nav_header.on #mnav_logo_dark{
        opacity: 0;
    }

    #mnav_btn{
        width: 45px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }
    .mnb_bar{
        position: absolute;
        width: 45px;
        height: 4px;
        background-color: #2f2724;
        transition: 0.5s;
    }
    .mnb_bar:nth-child(1){
        margin-bottom: 35px;
    }
    .mnb_bar:nth-child(3){
        margin-top: 35px;
    }
    #mnav_btn.on .mnb_bar{
        background-color: white;
    }
    #mnav_btn.on .mnb_bar:nth-child(1){
        rotate: 45deg;
        margin: 0;
    }
    #mnav_btn.on .mnb_bar:nth-child(2){
        opacity: 0;
    }
    #mnav_btn.on .mnb_bar:nth-child(3){
        rotate: -45deg;
        margin: 0;
    }
    /*mobile nav header - end*/ 


    /*mobile nav - start*/
    #mobile_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #2f2724;
        transition: 0.5s;
        opacity: 0;
        pointer-events: none;
        z-index: 99;
    }
    #mobile_nav.on{
        opacity: 1;
        pointer-events: auto;
    }

    #mobile_nav ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
    }
    .mbl_nav_link{
        padding: 5px 15px;
        border-left: 2px solid white;
        display: flex;
        width: fit-content;
        position: relative;
        transform: translateX(20px);
        transition: 0.5s;
        opacity: 0;
    }
    .mbl_nav_link a{
        text-decoration: none;
    }
    .mbl_nav_link::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: white;
        transition: 0.5s;
    }
    .mbl_nav_link:hover::after, .mbl_nav_link.current::after{
        width: 100%;
    }
    .mbl_nav_link p{
        margin: 0;
        color: white;
        position: relative;
        transition: 0.5s;
        z-index: 100;
    }
    .mbl_nav_link:hover p, .mbl_nav_link.current p{
        color: #2f2724;
    }

    #mobile_nav.on .mbl_nav_link{
        opacity: 1;
        transform: translateX(0px);
    }
    #mobile_nav.on .mbl_nav_link:nth-child(2){
        transition-delay: 0.125s;
    }
    #mobile_nav.on .mbl_nav_link:nth-child(3){
        transition-delay: 0.25s;
    }
    #mobile_nav.on .mbl_nav_link:nth-child(4){
        transition-delay: 0.375s;
    }
    /*mobile nav - end*/
}