#service{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#sf_img img{
    background-color: rgb(28,28,32);
    width: 100%;
    height: calc(90vw * (9/19));
    margin-bottom: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#service_header p{
    text-align: justify;
    text-align-last: left;
    margin: 0;
}

.ss_desc{
    text-align: justify;
    text-align-last: left;
}
.ss_portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}


/*bigger tablet styling*/
@media(max-width:1079px){
    #sf_img img{
        height: calc(90vw * (3/4));
    }
}


/*big phone styling*/
@media(max-width:450px){
    #sf_img img{
        height: calc(90vw * (5/4));
    }
}